body{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}
button{
    font-family: 'Montserrat';
}
body a{
    text-decoration: none;
    color: inherit;
}
.nav{
    width: 100%;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    height: 70px;
    color: #2C3E50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nav img{
    width: 40px;
    padding: 1% 10px 1% 20px;
}
.nav-menu:first-of-type{
    margin-left: auto;
}
.nav-menu{
    padding: 0 1% 0 1%;
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}
.nav-menu:hover{
    background-color: #E0E0E0;
}
.nav i{
    display: none;
    transition: transform .5s ease;
    cursor: pointer;
}
.nav i.open{
    transform: rotate(90deg);
}
.dropdown{
    display: none;
}
.title{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.title h1{
    margin-top: 100px;
    color: #2E5D45;
    font-size: 50px;
    text-align: left;
}
.container-all{
    width: 80%;
    margin: 100px auto 0 auto;
    display: flex;
    align-items: flex-start;
}
.filter{
    width: 20%;
    margin-right: 40px;
    text-align: justify;
    line-height: 200%
}
.filter input{
    margin-right: 10px;
}
.challenge-list{
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
.challenge-card{
    box-sizing: border-box;
    flex: 1 1 calc(33.33% - 20px);
    text-align: left;
    background-color: #E0FFEB;
    padding: 30px 20px;
    border-radius: 15px;
    border: 1.5px solid #2E5D45;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    cursor: pointer;
    transition: .2s ease;
}
.challenge-card:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.challenge-card h2{
    color: #2E5D45;
    margin-top: 0;
    margin-bottom: 0;
}
.challenge-list .learn-more{
    color: #2E5D45;
    margin-top: auto;
}
.challenge-list p{
    margin: auto 0;
}
.modal{
    display: none;
    position: fixed;
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content{
    background-color: #ffffff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    height: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}
.modal h2{
    color: #2E5D45;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
}
.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-text{
    width: 80%;
    margin: auto;
}
.modal-text ol{
    text-align: justify;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    padding: 0;
    line-height: 160%;
}
.modal-text h3{
    margin-top: 50px;
}
.footer{
    background-color: #F0F0F0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    padding: 10px 40px 40px 40px;
    display: flex;
}
.footer input{
    padding: 10px;
    width: 250px;
    font-family: "Montserrat";
}
.footer button{
    background-color: #4B7D99;
    color: #FAFAFA;
    border: none;
    border-radius: 25px;
    width: 130px;
    height: 40px;
    font-family: 'Montserrat';
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s ease;
}
.footer button:hover{
    background-color: #2C3E50;
}
.copyright{
    text-align: right;
    margin-left: auto;
    margin-top: auto;
}

@media screen and (max-width: 1100px) {
    .challenge-card{
        flex: 1 1 calc(50% - 20px);
    }
}
@media screen and (max-width: 800px) {
    .nav-menu{
        display: none;
    }
    .nav i{
        display: block;
        margin-left: auto;
        margin-right: 3%;
    }
    .dropdown{
        width: 100%;
    }
    .dropdown ul{
        list-style: none;
        background-color: #F0F0F0;
        margin-top: 0;
        padding: 10px 0 20px 0;
    }
    .dropdown ul li{
        padding: 15px 0 15px 30px;
        transition: .3s ease;
    }
    .dropdown ul li:hover{
        background-color: #E0E0E0;
    }
    .challenge-card{
        flex: 1 1 calc(100% - 20px);
    }
    .challenge-list{
        width: 65%;
    }
    .filter{
        width: 35%;
    }
}
@media screen and (max-width: 1000px) {
    .footer{
        display: block;
    }
    .copyright{
        margin-top: 40px;
    }
}
@media screen and (max-width: 508px) {
    .subscribe button{
        display: block;
        margin-top: 20px;
        margin-left: 0;
    }
}
@media screen and (max-width: 520px) {
    .container-all{
        display: block;
    }
    .challenge-list, .filter{
        width: 100%;
    }
    .challenge-list{
        margin-top: 30px;
    }
    .modal-text ol{
        width: 80%;
    }
}